body {
        background-color:black;
}
.content {
        color:white;
}
.thumbnail {
        height:150px;
        width:150px;
}
.menuitem {
        vertical-align:center;
        color:black;
        display:inline;
}
.menuseparator {
        vertical-align:center;
        font-size:8px;
        color:white;
        display:inline;
}
.menubar {
        text-align:center;
        background-color:red;
        padding-bottom:10px;
        padding-top:10px;
}
.titlebar {
        color:yellow;
        font-size:20px;
}
.addCommentInput{
	border: 0px;
	resize: none;
}
.addComment{
	background-color: #ddccb5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #897048;
	padding: 5px 5px 5px 15px;
}
.commentPost{
	background-color: #ddccb5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #897048;
	padding: 5px 5px 5px 15px;
}
.blogPost{
	background-color: #ddccb5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #897048;
	padding: 5px 5px 5px 15px;
}
