	{% extends "base.html" %}
	{% load expense_extras %}
		{% block content %}
			<ul class="nav nav-tabs">
			{% for category,valArray in separate_expenses.items %}
				{% if forloop.counter == 1 %}
					<li class="active">
				{% else %}
					<li>
				{% endif %}
					<a href="#{{ category|repspaces }}" data-toggle="tab">{{ category }}</a>
				</li>
			{% endfor %}
				<li>
					<form action method="POST" name="changeMonth" id="changeMonth">
						{% csrf_token %}
						<select id="months" name="months" onchange="$('#changeMonth').submit();" class="reportSelect">
							{% for currmonth in months %}
								{% ifequal currmonth.id selectedmonth.id %}
									<option value="{{ currmonth.id }}" selected>{{ currmonth }}</option>
								{% endifequal %}
								{% ifnotequal currmonth.id selectedmonth.id %}
									<option value="{{ currmonth.id }}">{{ currmonth }}</option>
								{% endifnotequal %}
							{%endfor%}
						</select>
					</form>
				</li>
			</ul>
			<div class="tab-content">
			{% for category,valArray in separate_expenses.items %}
				{% if forloop.counter == 1 %}
				<div class="tab-pane active box" id="{{ category|repspaces }}">
				{% else %}
				<div class="tab-pane box" id="{{ category|repspaces }}">
				{% endif %}
					{% for expense in valArray %}
						{% if forloop.counter|divisibleby:"2" %}
							<div class="row-fluid rowEven"><div class="span4">{{ expense.title }}</div><div class="span4">{{ expense.amount }}</div><div class="span4">{{ expense.date }}/{{ expense.has_payMethod }}</div></div>	
						{% else %}
							<div class="row-fluid"><div class="span4">{{ expense.title }}</div><div class="span4">{{ expense.amount }}</div><div class="span4">{{ expense.date }}/{{ expense.has_payMethod }}</div></div>	
						{% endif %}
					{% endfor %}
							<hr />
							<div class="row-fluid"><div class="span4"></div><div class="span4">{{ separate_totals|key:category }}/{{ selectedmonth.total }}</div><div class="span4">{{ selectedmonth.available }}</div></div>	
				</div>
			{% endfor %}
			</div>
    </div> <!-- /container -->

    <script type="text/javascript">
	$(document).ready(function (){
function fnGetWidthHeight() {
            var viewportwidth;
            var viewportheight;
            // The more standards compliant browsers (mozilla/netscape/opera/chrome/IE7) use window.innerWidth and window.innerHeight
            if (typeof window.innerWidth != 'undefined') {
                viewportwidth = window.innerWidth;
                viewportheight = window.innerHeight;
            }
            // IE6 in standards compliant mode (i.e. with a valid doctype as the first line in the document)
            else if (typeof document.documentElement != 'undefined' && typeof document.documentElement.clientWidth != 'undefined' && document.documentElement.clientWidth != 0) {
                viewportwidth = document.documentElement.clientWidth;
                viewportheight = document.documentElement.clientHeight;
            }
            // older versions of IE
            else {
                viewportwidth = document.getElementsByTagName('body')[0].clientWidth;
                viewportheight = document.getElementsByTagName('body')[0].clientHeight;
            }
            alert('Your viewport width & height is ' + viewportwidth + 'x' + viewportheight);
        }
	});
    </script>
		{% endblock %}
