<html>
	<head>
		<title>Daniel Sauerbrun: Uncomfortable Since 1988 </title>
<LINK href="{{ STATIC_URL }}blog.css" rel="stylesheet" type="text/css">
	</head>
<body >
	<div class="menubar titlebar">
		Daniel Sauerbrun: Uncomfortable Since 1988
	</div>
	<div class="menubar">
		<div class="menuitem">
			Resume
		</div>
		<span class="menuseparator">
			>>
		</span>
		<div class="menuitem">
			Blog
		</div>
		<span class="menuseparator">
			>>
		</span>
		<div class="menuitem">
			About me
		</div>
		<span class="menuseparator">
			>>
		</span>
		<div class="menuitem">
			Idea Pad
		</div>
	</div>
	<div id="content" class="content">
	{% block content %}
		{% for e in entries reversed %}
		<h1>	{{ e.title }}</h1><br />
			{{ e.date }}<br />
			<div>
			{{ e.displayText }}<br />
			</div>
			{% for i in images %}
				{% if i.belongs_to_blog == e %}
					<a href="{{ i.image_field }}" ><img class="thumbnail" src="{{ i.image_field }}" /></a>
				{% endif %}
			{% endfor %}
			<div class="addComment">
				<form action="{% url blog.views.add_comment e.id %}" method="POST">{% csrf_token %}
					<div id="cform">
						name: {{ form.user }}
						<p> {{ form.text|linebreaks }} </p>
					</div>
					<div id="submit"><input type="submit" value="Submit Comment"></div>
				</form>
			</div>
			<div class="comments">
				{% for i in comments reversed %}
					{% if i.belongs_to_blog == e %}
						
						<div class="comment">
						
						<div class="commentUser">{{ i.user }}</div>
						<div class="commentDate">{{ i.date }}</div>
						<div class="commentTest">{{ i.text }}</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			
			<hr />
		{% endfor %}

	{% endblock %}
	</div>
</body>

</html>
