{% extends "base.html" %}
{% block content %}
	<div id="map" style="height:300px">
	</div>
	<h1>Stupid musings that no one cares about</h1>
	<p>Seriously, if you're reading this you need a hobby.</p>
	<input type="button" value="save location" onclick="markSpot()" />
	{% for e in entries %}
	<div class="row">
		<div class="span12 blogPost">
				<h1>    {{ e.title }}</h1><br />
				{{ e.date }}<br />
				<div class="row">
					<div class="span12">
						<blockquote>{{ e.displayText }}</blockquote><br />
					</div>
				</div>
				<div class="row">
					<div class="offset2 span8">
						<div class="row">
						{% for i in images %}
							{% if i.belongs_to_blog == e %}
								<div class="span2">
									<a href="{{ i.image_thumb.url }}" ><img class="thumbnail" src="{{ i.image_thumb.url_150x150 }}" /></a>
								</div>
							{% endif %}
						{% endfor %}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="offset1 span8">
						<div class="addComment">
							<form action="{% url posting.views.add_comment e.id %}" method="POST">{% csrf_token %}
								<div id="cform">
									name:<br /> {{ form.user }}
									<p class="input-xlarge"> {{ form.text }}{{ form.text.errors }} </p>
								</div>
								<div id="submit"><input type="submit" value="Submit Comment"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="comments">
				{% for i in comments reversed %}
					{% if i.belongs_to_blog == e %}
						<div class="row">
							<div class="offset1 span8 commentPost">
								<div class="comment">
									<div class="commentUser">{{ i.user }}</div>
									{% if user.is_staff %}
										<form action="{% url posting.views.delete_comment i.id %}" method="POST">{% csrf_token %}
											<input type="submit" value="delete" style="float:right" />
										</form>
									{% endif %}
									<div class="commentDate">{{ i.date }}</div>
									<div class="commentText"><blockquote>{{ i.text }}</blockquote></div>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
				</div>
		</div>
	</div>
	{% endfor %}

</div> <!-- /container -->

<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAicaxhV5yGvMKxT06tgOlKDgrWUhzjjGE&sensor=false">
    </script>
<script type="text/javascript">
	var latitude=0;
	var longitude=0;
	function mapError(position){

	}
	function showMap(position){
		latitude=position.coords.latitude;
		longitude=position.coords.longitude;
		var LatLng=new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
		var mapOptions={ center : LatLng,zoom: 16, mapTypeId: google.maps.MapTypeId.ROADMAP};
		var map = new google.maps.Map(document.getElementById("map"),mapOptions);
		
		var currentMarker= new google.maps.Marker({
			position:LatLng,
			map: map,
			title:"My last spot"
		});
//		alert("showmap");
	}
	navigator.geolocation.getCurrentPosition(showMap,mapError,{maximumAge: 50000});
	function markSpot(){
		$.post("/add_location",{csrfmiddlewaretoken:'{{ csrf_token }}'},function(data){
			alert('why is this not working');
		});
	}
		

</script>
{% endblock %}
